<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.trx.mapper.EmployeeMapper">

	<insert id="insertEmployee" statementType="CALLABLE"
		parameterType="com.spring.trx.model.Employee">
		INSERT INTO employee (empId, 
		                      empName) 
			   		VALUES (#{empId},
							#{empName})
	</insert>

	<insert id="deleteEmployeeById" statementType="CALLABLE"
		parameterType="com.spring.trx.model.Employee">
		DELETE FROM employee WHERE empId = #{empId}
	</insert>

</mapper>