<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinarmasmsig.payment.mapper.TokenMapper">

	<insert id="tokenInsert" statementType="CALLABLE"
		parameterType="com.sinarmasmsig.payment.model.Token">
		INSERT INTO "mst_token"
				(TOKEN_NO,
				BEG_DATE,
				END_DATE,
				TOKEN_INFO,
				DESCRIPTION,
				FLAG_ACTIVE)

		VALUES (#{tokenNo},
				#{begDate},
				#{endDate},
				#{tokenInfo},
				#{description},
				#{flagActive})
	</insert>

</mapper>