<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinarmasmsig.payment.mapper.TokenMapper">

	<resultMap type="com.sinarmasmsig.payment.model.Token"
		id="getTokenActiveMap">
		<result column="TOKEN_NO" property="tokenNo" />
		<result column="BEG_DATE" property="begDate" />
		<result column="END_DATE" property="endDate" />
		<result column="TOKEN_INFO" property="tokenInfo" />
		<result column="DESCRIPTION" property="description" />
		<result column="FLAG_ACTIVE" property="flagActive" />
	</resultMap>

	<select id="getTokenActive" resultMap="getTokenActiveMap">
		select * from mst_token
		where flag_active = true
		and (#{param} &gt; beg_date and #{param} &lt;
		end_date)
	</select>

</mapper>